# Problem 2

In [10]:
x = int(input("Value is "))
y = int(input("Value is "))
z = x + y
if z%2 == 0:
    print("Even wins")
else:
    print("Odd wins")

Value is 21
Value is 21
Even wins

# Problem 3

In [1]:
R_D_Spend = [165349.2, 162597.7, 153441.51, 144372.41, 142107.34, 131876.9, 134615.46, 130298.13, 120542.52, 123334.88]
Administration = [45654, 6475, 65785, 765856,54375, 76585, 7586, 7595, 8967876, 876976]
Marketing_Spend = [6585,769696, 758658, 758756, 5378596, 765485, 5348967098, 675433567, 1234, 12345678]
State = ['New York', 'California', 'Florida', 'New York', 'Florida', 'New York', 'Çalifornia', 'Florida', 'New York', 'California']
Profit = [234, 34567, 237, 6854, 674874, 65364, 123457898, 6383, 82633, 7636840]

In [2]:
tab = {'R_D_Spend': R_D_Spend, 'Administration': Administration, 'Marketing_Spend': Marketing_Spend, 'State': State, 'Profit': Profit}

In [7]:
tab

{'R_D_Spend': [165349.2,
  162597.7,
  153441.51,
  144372.41,
  142107.34,
  131876.9,
  134615.46,
  130298.13,
  120542.52,
  123334.88],
 'Administration': [45654,
  6475,
  65785,
  765856,
  54375,
  76585,
  7586,
  7595,
  8967876,
  876976],
 'Marketing_Spend': [6585,
  769696,
  758658,
  758756,
  5378596,
  765485,
  5348967098,
  675433567,
  1234,
  12345678],
 'State': ['New York',
  'California',
  'Florida',
  'New York',
  'Florida',
  'New York',
  'Çalifornia',
  'Florida',
  'New York',
  'California'],
 'Profit': [234,
  34567,
  237,
  6854,
  674874,
  65364,
  123457898,
  6383,
  82633,
  7636840]}

In [12]:
import pandas

In [13]:
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [14]:
data = pandas.DataFrame(tab)

In [15]:
data

   R_D_Spend  Administration  Marketing_Spend       State     Profit
0  165349.20           45654             6585    New York        234
1  162597.70            6475           769696  California      34567
2  153441.51           65785           758658     Florida        237
3  144372.41          765856           758756    New York       6854
4  142107.34           54375          5378596     Florida     674874
5  131876.90           76585           765485    New York      65364
6  134615.46            7586       5348967098  Çalifornia  123457898
7  130298.13            7595        675433567     Florida       6383
8  120542.52         8967876             1234    New York      82633
9  123334.88          876976         12345678  California    7636840

In [27]:
data.to_excel('problems.xlsx', index = False)

# Problem 4

In [26]:
x = int(input("Distance is "))
y = int(input("Time is "))
z = x/y
print ("Speed is ", z,"mil/hr")

Distance is 50
Time is 2
Speed is  25.0 mil/hr

# Problem 5